<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniReto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5931F191D8B0F6F00646F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5931F2D1D8B0F6F00646F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5931F381D8B0F6F00646F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
